.swiper{
  padding: 32px;
}

.swiper-slide{
  display: flex;
  justify-content: center;
}

.swiper-button-prev, .swiper-button-next{
  color:#718096;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
  color:#505966;
}