
.header{
  background: #c0c0c0;
  
}

.nav{
  padding: 0 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img{
  height: 100px;
}

ul li{
  padding: 0 10px;
  display: inline;
}

li a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

li a:hover{
  color: #707070;
  text-decoration: underline;
}

.btnMobile{
  display: none;
}

@media only screen and (max-width: 450px) {
  .close li {
    display: none;
  }
  .btnMobile{
    display: block;
  }
 .open li{
   display: flex;
   flex-direction: column;
 }
}